@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-lg-4 col-md-4">

	</div>
	<div class="text-center col-lg-4 col-md-4">
		<p>Hello MyApplication</p>
	</div>
	<div class="col-lg-4 col-md-4>

	</div>
</div>